
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="tableContainer">
        @{
            Html.RenderAction("CourseStatics");
        }
    </div>
</div>
<div id="CourseStaticsTable">

</div>

